<h1>Jquery#index</h1>

<a href="http://www.google.com">Click me</a>


<style type="text/css">
  .blue {border: 1px solid blue;}
  .red {border: 2px dashed red;}
</style>
<div id="border-switch" class="blue">
  <a id="border-switch-a" href="Switch">Switch Me</a>
</div>
